* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
}


.main-container {
    width: 40%;
    max-width: 31.25rem;
    background: hsl(240, 78%, 98%);
    padding: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    background-image: url('./Images/bg-top.svg');
    background-position: right ;
    background-repeat: no-repeat;
    background-size: contain;
}

.first-heading {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 700;
    color: hsl(232, 13%, 33%);
    margin-bottom: 40px;
}



.first-container {
    display: flex;
    font-size: 0.65rem;
    font-weight: 700;
    color: hsl(232, 13%, 33%);
    justify-content: space-around;
    align-items: center;
    margin-bottom: 45px;
} 

.first-btn {
    display: inline-block;
    background: hsl(237, 63%, 64%);
    width: 45px;
    height: 25px;
   border-radius: 20px;
}

.mini-btn {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff; 
    position: relative;
    left: 20px;
    top: 2px;
}

.content-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
} 

.second-container {
    background: #fff;
    padding: 1.5rem;
    border-radius: 5px;
    text-align: center;
}

.second-heading {
    color: hsl(232, 13%, 33%);
    font-size: 0.85rem;
    font-weight: 700;
    margin-top: 0;
}

.third-heading {
    font-size: 2.5rem;
    color: hsl(232, 13%, 33%);
    margin-top: 0;
}

.first-sign {
    font-size: 1.5rem;
    position: relative;
    bottom: 5px;
    left: 5px;
}
.second-container p {
    font-size: 0.65rem;
    font-weight: 700;
    color: hsl(232, 13%, 33%);
    letter-spacing: 1.2px;
}

.second-btn {
    display: inline-block;
    background: hsl(237, 63%, 64%);
    text-decoration: none;
    color: #fff;
    font-size: 0.45rem;
    padding: 10px 50px;
    font-weight: 700;
    border-radius: 5px;
    letter-spacing: 1.2px;
    margin-top: 10px;
}

.third-container {
    background: hsl(237, 63%, 64%);
    padding: 1.5rem;
    border-radius: 5px;
    text-align: center;
    color: #fff;
}

.fourth-heading {
    color: #fff;
    font-size: 0.85rem;
    font-weight: 700;
    margin-top: 0;
}

.fifth-heading {
    font-size: 2.5rem;
    color: #fff;
    margin-top: 0;
}

.second-sign {
    font-size: 1.5rem;
    position: relative;
    bottom: 5px;
    left: 5px;
}

.third-container p {
    font-size: 0.65rem;
    font-weight: 700;
    letter-spacing: 1.2px;
}


.third-btn {
     display: inline-block;
    background: #fff;
    text-decoration: none;
    color: hsl(237, 63%, 64%);
    font-size: 0.45rem;
    padding: 10px 50px;
    font-weight: 700;
    border-radius: 5px;
    letter-spacing: 1.2px;
    margin-top: 10px;
}


.fourth-container {
    background: #fff;
    padding: 1.5rem;
    border-radius: 5px;
    text-align: center;
    color: hsl(232, 13%, 33%);
}

.sixth-heading {
    font-size: 0.85rem;
    font-weight: 700;
    margin-top: 0;
}

.seventh-heading {
    font-size: 2.5rem;
    margin-top: 0;
}

.third-sign {
    font-size: 1.5rem;
    position: relative;
    bottom: 5px;
    left: 5px;
}

.fourth-container p {
    font-size: 0.65rem;
    font-weight: 700;
    letter-spacing: 1.2px;
}


.fourth-btn {
     display: inline-block;
    background: hsl(237, 63%, 64%);
    text-decoration: none;
    color: #fff;
    font-size: 0.45rem;
    padding: 10px 50px;
    font-weight: 700;
    border-radius: 5px;
    letter-spacing: 1.2px;
    margin-top: 10px;
}


@media (min-width: 701px) {
    body {
        display: flex;
        min-height: 100vh;
        justify-content: center;
        align-items: center;
        background: #000;
    }

    .main-container {
        width: 60%;
        max-width: 50rem;
        background: hsl(240, 78%, 98%);
        padding: 2rem;
    }

    .first-heading {
        text-align: center;
        color: hsl(232, 13%, 33%);
        font-size: 1.3rem;
        font-weight: 700;
        margin-bottom: 40px;
    }

    .first-container {
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    


    .content-container {
        display: flex;
        flex-direction: row;
        justify-content: center; 
        align-items: center;
        gap: 0;
    }
     
    
    
   
    
    .second-btn,
    .third-btn , 
    .fourth-btn {
        width: 100%;
    }

}

