* {
    box-sizing: border-box;
}


body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background: #000;
}


.main-container {
    width: 65%;
    max-width: 31.25rem;
    background: #fff;
    padding: 1.5rem;
    background-image: url('./Images/bg-tablet-pattern.svg');
    background-size: 250px 250px;
    background-repeat: no-repeat;
    background-position: top right;
}

.flex-container-one {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
   
}

.first-image {
    width: 100px;
}

.second-image {
    width: 20px;
}

.logo-image {
    width: 250px;
}


.first-heading {
    font-family: 'Be Vietnam Pro', sans-serif;
    color: hsl(228, 39%, 23%);
    font-weight: 700;
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 1.2;
}


.first-paragraph {
    font-family: 'Be Vietnam Pro' , sans-serif;
    font-size: 0.85rem;
    text-align: center;
    line-height: 1.5;
    color: hsl(227, 12%, 61%);
    text-align: start;
}


.first-btn {
    display: block;
    text-decoration: none;
    text-align: center;
    font-family: 'Be Vietnam Pro' , sans-serif;
    font-size: 0.65rem;
    background: hsl(12, 88%,59%);
    color: #fff;
    padding: 10px 25px;
    width: 60%;
    margin: 0 auto;
    border-radius: 50px;
    font-weight: 700;
    letter-spacing: 1.5;
}

.second-heading {
    font-family: 'Be Vietnam Pro', sans-serif;
    color: hsl(228, 39%, 23%);
    text-align: center;
    font-size: 1.5rem;
}

.second-paragraph {
    font-family: 'Be Vietnam Pro', sans-serif;
    color: hsl(227, 12%, 61%);
    font-size: 0.70rem;
    line-height: 1.5;
    text-align: center;
}


.main-btn {
    width: 280px;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 0.75rem;
    color: hsl(228, 39%, 23%);
    font-weight: 700;
    background: hsl(13, 100%, 96%);
    padding: 5px 15px;
    border-radius: 20px 0 0 20px;
}

.mini-btn {
    text-decoration: none;
    color: #fff;
    background: hsl(12, 88%,59%);
    font-size: 0.65rem;
    padding: 6px 20px;
    border-radius: 20px;
    position: relative;
    right: 20px;
}

.third-paragraph {
    font-family: 'Be Vietnam Pro', sans-serif;
    color: hsl(227, 12%, 61%);
    font-size: 0.65rem;
    line-height: 1.8;
}


.third-heading {
    font-family: 'Be Vietnam Pro', sans-serif;
    color: hsl(228, 39%, 23%);
    text-align: center;
    font-weight: 700;
    margin-bottom: 4rem;
}


.rectangle {
    width: 100%;
    height: 150px;
    background:hsl(0, 0%, 98%);
    position: relative;
    padding: 1.3rem;
    font-family: 'Be Vietnam Pro', sans-serif;
    margin-bottom: 20px;
}

.circle {
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 40px;
    left: 50%;
    margin-left: -25px;
    top: -20px;
}


.fourth-heading {
    text-align: center;
    font-size: 0.70rem;
    margin-top: 20px;
    letter-spacing: 1px;
    color: hsl(228, 39%, 23%);
    font-family: 'Be Vietnam Pro', sans-serif;
}

.rectangle p {
    font-size: 0.65rem;
    text-align: center;
    font-weight: 400;
    color: hsl(227, 12%, 61%);
    line-height: 1.5;
}


.mid-content {
    display: flex;
    justify-content: center;
    gap: 2px;
}



.mid-circle {
    width: 6px;
    height: 6px;
    border-radius: 6px; 
    border: 1px solid hsl(12, 88%,59%); 
}

.second-circle {
    background-color: hsl(12, 88%,59%);
}

.mid-btn {
    display:block;
    text-decoration: none;
    font-family: 'Be Vietnam Pro' , sans-serif;
    font-size: 0.60rem;
    background: hsl(12, 88%,59%);
    color: #fff;
    padding: 10px 25px;
    width: 60%;
    margin: 0 auto;
    border-radius: 50px;
    font-weight: 700;
    text-align: center;
}



.first-last-part {
    background: hsl(12, 88%,59%);
    width: 300px;
    position: relative;
    right: 22px;
    padding: 2rem;
    margin-top: 50px;
}

.last-heading {
    font-family: 'Be Vietnam Pro', sans-serif;
    text-align: center;
    font-size: 1.8rem;
    color: #fff;
    font-weight: 700;
}

.first-final-btn {
    display: block;
    text-decoration: none;
    font-family: 'Be Vietnam Pro' , sans-serif;
    font-size: 0.60rem;
    background: hsl(0, 0%, 98%);
    color: hsl(12, 88%,59%);
    padding: 10px 25px;
    width: 60%;
    margin: 0 auto;
    border-radius: 50px;
    font-weight: 700;
    text-align: center;
}

.second-last-part {
    /* background: hsl(228, 39%, 23%); */
    margin: 0;
    width: 300px;
    position: relative;
    right: 22px;
    padding:  1.5rem;
    background: hsl(233, 12%, 13%);
}

.last-content {
    display: flex;
    gap: 10px;
    align-items: center;
}

.first-mini-btn,
.second-mini-btn {
    text-decoration: none;
}


.first-mini-btn {
    text-align:start;
    color: hsl(227, 12%, 61%);
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 0.65rem;
    padding: 10px 25px;
    background: hsl(0, 0%, 98%);
    border-radius: 30px;
}


.second-mini-btn {
   color: #fff;
   font-family: 'Be Vietnam Pro', sans-serif;
   font-size: 0.65rem;
   padding: 10px 25px;
   background: hsl(12, 88%,59%);
   border-radius: 20px;
}

.first-final-section {
    display: flex;
    color: hsl(0, 0%, 98%);
    font-family: 'Be Vietnam Pro', sans-serif;
    justify-content: space-around;
}


ul {
    list-style: none;
    font-size: 0.75rem;
    line-height: 2;
    font-weight: 500;
}

.second-final-section {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}


.second-final-section img {
    width: 30px;
}

.third-final-section {
    display: flex;
    justify-content: center;
    margin: 30px;
}


.last-paragraph {
    font-size: 0.70rem;
    text-align: center;
    color: hsl(227, 12%, 61%);
    font-family: 'Be Vietnam Pro',sans-serif;
    font-weight: 700;
}






























