* {
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background: #000;
}

.main-container {
  width: 60%;
  max-width: 900px;
  background: #fff;
  font-family: 'Be Vietnam Pro', sans-serif;
  padding: 2.5rem;
}

.first-logo-image {
  width: 70px;
}

.first-container {
  display: flex;
  font-size: 0.55rem;
  justify-content: space-between;
  margin-bottom: 50px;
}

.second-item {
  display: flex;
  width: 45%;
  justify-content: space-between;
}

.mini-text {
  margin: 0;
  color: hsl(233, 12%, 13%);
  font-size: 0.50rem;
  font-weight: 500;
}


.first-btn {
  text-decoration: none;
  background: hsl(12, 88%, 59%);
  color: #fff;
  padding: 5px 15px;
  border-radius: 20px;
  font-size: 0.50rem;
  font-weight: 700;
}

.second-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.first-heading {
  color: hsl(228, 39%, 23%);
  max-width: 200px;
}

.second-main-text {
  color: hsl(227, 12%, 61%);
  font-size: 0.55rem;
  max-width: 190px;
  line-height: 1.5;
}

.second-btn {
  background: hsl(12, 88%, 59%);
  color: #fff;
  font-size: 0.50rem;
  padding: 5px 15px;
  text-decoration: none;
  border-radius: 20px;
  font-weight: 700;
}


.second-logo-image {
  width: 250px;
}


.third-container {
  display: flex;
  justify-content: space-between;
}

.second-heading {
  color: hsl(228, 39%, 23%);
  max-width: 250px;
}


.third-main-text {
  color: hsl(227, 12%, 61%);
  font-size: 0.55rem;
  max-width: 190px;
  line-height: 1.5;
}





